.color-item {
    position: relative;
    width: 250px;
    height: 200px;
    border:2px solid black;
}
.color {
    position: absolute;
    width: 100%;
    height: 70px;
    top:50%;
    transform: translateY(-50%);
}
.remove-btn {
    position: absolute;
    right: 0;
    top:0;
}